.Card_Main_div{
    margin: auto;
    height: auto;
    width: 60%;
    margin-top: 3%;
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    padding: 2px;
}
.Card_inner_div{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    
}
button{
    width:30%;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: cornflowerblue;
    color: aliceblue;
}
textarea{
    margin-top: 3%;
    width: 60%;
    font-size: 18px;
    border-radius: 10px;

}
textarea:placeholder-shown{
    font-size: 18px;
}