.TaskCard_div{
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-top: 3%;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
   border-radius: 10px;
    max-width: 80%;
}
.comment_main{
    margin-top: 6%;
    position: relative;
    display: inline-block;
}
.comment_main .tooltiptext{
    visibility: hidden;
    width:350%;
    background-color: rgb(92, 10, 20);
  color: rgb(255, 253, 253);
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 10%;
  margin-left: -33px;
}
.comment_main .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.comment_main:hover .tooltiptext {
  visibility: visible;
}